.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f97316;

  .header-container__left {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .header-container__left__back {
    display: flex;
    gap: 15px;
    cursor: pointer;
    align-items: center;
    color: white;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 25px;
    border-radius: 5px;
    height: 30px;
  }

  .header-container__left__collapse {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    height: 30px;
  }
}
